.iniciar-seccion-crear-cuenta {
  position: fixed;
  top: 15px;
  right: 20px;
  z-index: 4001;
}

/* --- MODAL GLOBAL --- */
.modal {
    position: fixed;           /* Se queda encima del contenido */
    z-index: 9999;             /* Más alto que todo */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;             /* Oculto por defecto */
    background: rgba(0, 0, 0, 0.6); /* Fondo oscuro */
    backdrop-filter: blur(2px);     /* Difuminado elegante */
    display: flex;
    justify-content: center;   /* Centrado horizontal */
    align-items: center;       /* Centrado vertical */
}

/* --- CONTENIDO DEL MODAL --- */
.modal-content {
    background: #fff;
    padding: 25px 30px;
    width: 350px;
    border-radius: 15px;
    text-align: center;
    justify-content: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.25);
    animation: aparecer 0.25s ease-out;
    position: relative;
}

/* Botón de cerrar */
.cerrar {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 22px;
    cursor: pointer;
    color: #333;
    transition: 0.2s;
}

.cerrar:hover {
    color: red;
    transform: scale(1.2);
}

/* Animación */
@keyframes aparecer {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
