.searchbar{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    width: 100%;
}

.search-container{
    display: flex;
    gap: 10px;
}
.resultados-container{
    display: flex;
    flex-direction: row;
}