:root {
    --color-primary: #4CAF50;
    --color-secondary: #ff9800;
    --color-primary-dark: #388E3C;
    --color-secundary-dark: #c28d3f;
    --color-background-light: #f5f5f5;
    --color-background-dark: #121212;
    --color-text-light: #000000;
    --color-text-dark: #ffffff;
    --font-gametracker: 'gametracker', sans-serif;
}

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'gametracker';
    src: url('Fonts/Matcha\ Vibes.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}


#Notificaciones {
    width: 700px;
    height: 400px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 10000;
}